#footer .footer-bottom {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
}

#footer .footer-top .footer-contact h3 {
    text-transform: initial;
    color: rgb(231, 14, 29);
    /*37517e;*/
}

/* .tender-banner{
   
} */

#hero {
    /* background-color: rgb(231,14,29); */
    height: 60vh !important;
    background: rgb(232, 104, 29);
    background: linear-gradient(90deg, rgba(232, 104, 29, 1) 0%, rgba(205, 0, 130, 1) 35%, rgba(3, 194, 177, 1) 100%);
}

#header.header-scrolled,
#header.header-inner-pages {
    background: rgb(232, 104, 29);
    background: linear-gradient(90deg, rgba(232, 104, 29, 1) 0%, rgba(205, 0, 130, 1) 35%, rgba(3, 194, 177, 1) 100%);
}

# .img-fluid {
    max-width: 80%;
    height: 80%;
    margin-left: 180px !important;
}